<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <%= customer.full_name %>
      </p>

      <% if customer.image.present? %>
        <!--<p>IMAGE! 📸</p>-->
        <div class="card-image mb-4">
          <figure class="image">
            <%= image_tag (customer.image.variant(resize_to_limit: [500, 500])) %>
          </figure>
        </div>
      <% end %>

      <div class="mt-2 mb-2">
        <p><strong>Tel:</strong> <%= customer.phone_number %></p>
      </div>

      <div class="mt-2 mb-2">
        <% if customer.email_address.present? %>
          <p><strong>Email:</strong> <%= customer.email_address %></p>
        <% else %>
          <p><strong>Email:</strong> N/A</p>
        <% end %>
      </div>

      <div class="mt-2 mb-2">
        <% if customer.notes.present? %>
          <p><strong>Notes:</strong> <%= customer.notes %></p>
        <% else %>
          <p><strong>Notes:</strong> N/A</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
